<div class="common">
    <div class="drop-block">     
      <div myDrop
          *ngFor="let answer of answers"
          [receiver]='!answer.isAnswered'
          [value]='answer'
          class="letter-container">
          <span *ngIf="answer.isAnswered">
            {{answer.letter}}
          </span>
        </div>  
    </div>
    <div class="drag-block">
      <div myDrag
          *ngFor="let letter of letters"
          (myDropped)='onDropped($event)' 
          [value]='letter' 
          class="letter">
          {{letter}}
        </div>
    </div>
</div>

<style>
  .common{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
  }

  .drop-block, .drag-block{
    display: flex;
    justify-content: center;
  }

  .drag-block{
    margin-top: 150px;
  }

  .letter-container{
    height: 50px;
    width: 50px;
    margin:10px;
    background-color: #f3f3f3;
    border: 1px solid;
    border-color: #cecece;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }

  .letter{
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: #76be67;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .fail{
    background-color: #ff5e5e;
  }

  .isMoving{
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
</style>