<div class="main">
  <div #dv drag (myDrag)='drag($event)' (dragStart)='start()' (dragStop)='stop()' (myDropped)='onDropped($event)' class="inner">
  </div>
</div>

<div class="drop-zone">
  

  <div myDrop id='first' class="drop-block"></div>
  <div myDrop id='second' class="drop-block"></div>
  <div myDrop id='third' class="drop-block"></div>
  <div myDrop id='fourth' class="drop-block"></div>
</div>

<style>
  .main{
    position: relative;
    display: block;
    background-color: rebeccapurple;
    width: 100vh;
    height: 500px;
  }

  .inner {
    background-color: wheat;
    position: relative;
    display: inline-block;
    margin: 125px;
    height: 80px;
    width: 80px;
    z-index: 100;
  }

  .drop-zone{
    position: relative;
    display: block;
    background-color: lightblue;
    width: 100%;
    height: 400px;
  }

  .drop-block{
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: brown;
    margin: 50px;
  }
</style>